.device {
  position: relative;
  overflow: hidden;
  margin-left: 50%;
  width: 100%;
  padding-top: 70%;
  margin: 0 auto;
  border: 2px solid #ebcb63;
  border-radius: 6px;
  box-shadow: 10px 10px 0 -2px #202126, 10px 10px 0 rgba(255, 255, 255, 0.1);
  backface-visibility: hidden;
  animation: morphDevice 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225)
    forwards;
}
.device figcaption {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 15px 0 0 rgba(255, 255, 255, 0.1),
    30px 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: morphButtons 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225)
    forwards;
  backface-visibility: hidden;
}
@keyframes morphDevice {
  0%,
  15% {
    width: 100%;
    padding-top: 70%;
    margin-top: 0;
    border-color: #ebcb63;
    box-shadow: 10px 10px 0 -2px #202126, 10px 10px 0 rgba(255, 255, 255, 0.1);
    transform: rotate(0);
  }
  25%,
  40% {
    width: 70%;
    padding-top: 55%;
    margin-top: 7.5%;
    border-color: #4b8ac4;
    box-shadow: 9px -9px 0 -2px #202126, 9px -9px 0 rgba(255, 255, 255, 0.1);
    transform: rotate(90deg);
  }
  50%,
  65% {
    width: 28%;
    padding-top: 42%;
    margin-top: 15%;
    border-color: #580970;
    box-shadow: -8px -8px 0 -2px #202126, -8px -8px 0 rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
  }
  75%,
  90% {
    width: 55%;
    padding-top: 70%;
    margin-top: 0;
    border-color: #57c39f;
    box-shadow: -9px 9px 0 -2px #202126, -9px 9px 0 rgba(255, 255, 255, 0.1);
    transform: rotate(270deg);
  }
  100% {
    width: 100%;
    padding-top: 70%;
    margin-top: 0;
    border-color: #ebcb63;
    box-shadow: 10px 10px 0 -2px #202126, 10px 10px 0 rgba(255, 255, 255, 0.1);
    transform: rotate(360deg);
  }
}
@keyframes morphButtons {
  0%,
  15%,
  100% {
    top: 12px;
    left: 12px;
    margin: 0;
    background: #ebcb63;
    box-shadow: 15px 0 0 rgba(255, 255, 255, 0.1),
      30px 0 0 rgba(255, 255, 255, 0.1);
    transform: scale(1);
  }
  25%,
  40% {
    top: 50%;
    left: 100%;
    margin: -5px 0 0 -20px;
    background: #4b8ac4;
    box-shadow: 0 0 0 350px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
    transform: scale(0.9);
  }
  50%,
  65% {
    top: 10px;
    left: 50%;
    margin: 0 0 0 -5px;
    background: #ece9f2;
    box-shadow: 0 -30px 0 rgba(255, 255, 255, 0.05),
      0 -30px 0 rgba(255, 255, 255, 0.05);
    transform: scale(0.8);
  }
  75%,
  90% {
    top: 100%;
    left: 50%;
    margin: -20px 0 0 -5px;
    background: #57c39f;
    box-shadow: 0 0 0 350px rgba(255, 255, 255, 0.05), 0 0 0 100px transparent;
    transform: scale(0.9);
  }
}

.device-container {
  min-width: 50vw;
  min-height: 50vh;
  transform: rotateY(-25deg);
}

.heading {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.landing h1 div ul {
  margin: 0 0.5%;
  padding: 0;
  width: auto;
  text-align: left;
  animation: animate 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225);
}

@keyframes animate {
  0% {
    transform: translateY(-0px);
  }
  15% {
    transform: translateY(-0px);
  }
  25%,
  40% {
    transform: translateY(-65px);
  }
  50%,
  65% {
    transform: translateY(-130px);
  }
  75%,
  90% {
    transform: translateY(-195px);
  }
  100% {
    transform: translateY(0px);
  }
}
