.outer-div{
    background-color:#1c0794;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.dvv{
  position: absolute;
  /* left: 50%; */
  /* top: 80%; */
  width: 200px;
  height: 200px;
  /* margin-left: -50px; */
  /* margin-top: -50px; */
  background: #49ffb0;
  border-radius: 100%;
  cursor: pointer;

}
.inner-black-div{
  width: 800px;
  height: 500px;
  background-color: black;
  border: 3px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dvv:before,
.dvv:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  will-change: transform;
}

.dvv:before{
  background: #111;
}

.dvv:after{
 background: #1c0794;
}

.dvv:hover:before{
  transform: scale(0.95);
}

.dvv:hover:after{
  transform: scale(0.85);
}
